.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: #CFB87C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.home-header {
  display: grid;
  grid-template:
    "a b" 50px
    "a c" 50px;
  grid-template-columns: 500px 500px;
}

.button-login-signup {
  background-color: #A2A4A3;
  border: none;
  border-radius: 8px;
  color: black;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.button-login-signup:hover {
  background-color: #565A5C;
  color: white;
}
